<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<link href=signin.css rel="stylesheet">
<link href=home.css rel="stylesheet">


<title>Home</title>

<style>
body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>


	<nav class="navbar navbar-expand ">
		<div class="container-fluid">
			<button class="btndisabled btn btn-success center-block disabled">Pay
				my buddy</button>
			<div>
				<ul class="nav navbar-right">
					<li class="nav-item"><a class="nav-link active"
						href="home.html">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="transfer">Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="profile">Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><form th:action="@{/logout}"
							method="post">
							<input class="nav-link btn btn-primary"  type="submit" value="Log Out" />
						</form></li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="nav navbar-left bg-light">
		<ul class="nav navbar-right">
			<li class="nav-item"><a class="nav-link active" href="home.html">Home
					/</a></li>
		</ul>
	</nav>

	<div class="container px-4">

		<div class="row mt-3 mb-1 justify-content-between">
			<div class="ml-4">
				<span class="text-left"><h4>Your Account</h4></span>
			</div>
			<div class="mr-4">
				<button class="btn btn-primary">Unsuscribe</button>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class=" col-md-12 col-md-offset-3 text-center">
				<div class="card bg-light mb-3 text-center">

					<div class="card-body text-center">
						Welcome <span sec:authentication="principal.username"> User</span>
						<br><br>
						<h4>Balance :</h4>
						<div class="card mx-auto" style="width: 18rem;">
							<div class="card-body ">575 €</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container px-4">



		<div class="row mt-3 mb-1 justify-content-between">
			<div class="ml-4">
				<span class="text-left"><h4>Pay and Withdraw</h4></span>
			</div>

		</div>

		<div class="row justify-content-center">
			<div class=" col-md-12 col-md-offset-3 ">
				<div class="card bg-light">
					<div class="card-body text-center">

						<div class="row">
							<div class="col-3">
								<div class="list-group" id="list-tab" role="tablist">
									<p>Choose an option :</p>
									<a
										class="list-group-item list-group-item-action  list-group-item-primary active"
										id="list-home-list" data-toggle="list" href="#list-home"
										role="tab" aria-controls="home">Pay money with bank
										account</a> <a
										class="list-group-item list-group-item-action list-group-item-primary"
										id="list-profile-list" data-toggle="list" href="#list-profile"
										role="tab" aria-controls="profile">Pay money with credit
										card</a> <a
										class="list-group-item list-group-item-action list-group-item-primary"
										id="list-withdraw-list" data-toggle="list"
										href="#list-withdraw" role="tab" aria-controls="withdraw">Withdraw</a>

								</div>
							</div>
							<div class="col-9 ">
								<div class="tab-content row justify-content-between"
									id="nav-tabContent">

									<!-- onglet bank transfer -->

									<div class="tab-pane fade show active " id="list-home"
										role="tabpanel" aria-labelledby="list-home-list">

										<p>Choose an account, amount and pay button or add a bank
											account :</p>
										<form class="form-inline">
											<div class="mr-2">
												<select class="form-control ">
													<option>account 1</option>
													<option>account 2</option>
													<option>account 3</option>
												</select>
											</div>
											<div class="mr-2 w-10">
												<label for="example-number-input"></label> <input
													class="form-control " type="number" value="0"
													id="example-number-input">
											</div>
											<div class="mr-2">
												<button type="submit" class="btn  btn-block btn-success">Pay</button>
											</div>
											<div class="mr-2">
												<!-- Button -->
												<button type="button" class="btn btn-primary"
													data-toggle="modal" data-target="#popup">Add bank
													acount</button>
											</div>
										</form>


										<!-- Pop-up add bank details -->
										<div id="popup" class="modal">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<p>Bank details</p>
													</div>
													<div class="modal-body">
														<form>
															<div class="form-group">
																<label for="codeBank"></label> <input type="number"
																	class="form-control" id="codeBank"
																	aria-describedby="codeBank" placeholder="Code bank">

															</div>

															<div class="form-group">
																<label for="bankCounter"></label> <input type="number"
																	class="form-control" id="bankCounter"
																	aria-describedby="bankCounter"
																	placeholder="bankCounter">

															</div>
															<div class="form-group">
																<label for="accountNumber"></label> <input type="text"
																	class="form-control" id="accountNumber"
																	placeholder="accountNumber">
															</div>
															<div class="form-group">
																<label for="ribKey"></label> <input type="number"
																	class="form-control" id="ribKey" placeholder="ribKey">
															</div>
															<div class="form-group">
																<label for="domiciliation"></label> <input type="text"
																	class="form-control" id="domiciliation"
																	placeholder="domiciliation">
															</div>
															<div class="form-group">
																<label for="iban"></label> <input type="text"
																	class="form-control" id="iban" placeholder="iban">
															</div>
															<div class="form-group">
																<label for="bic"></label> <input type="text"
																	class="form-control" id="bic" placeholder="bic">
															</div>

															<p></p>

															<button type="Add" class="btn btn-primary">Add
																details</button>

														</form>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Annuler</button>
													</div>
												</div>
											</div>
										</div>

									</div>

									<!-- onglet payment credit card -->

									<div class="tab-pane fade" id="list-profile" role="tabpanel"
										aria-labelledby="list-profile-list">
										<p>Add an amount, complete credit card information and
											valid button</p>


										<div class="card row  ml-3">

											<div class="col">
												<p class="mt-3">PAYMENT DETAILS</p>
												<label for="payAmount">Amount :</label> <input
													class="form-control " type="number" value="0"
													id="payAmount"> <img
													src="https://img.icons8.com/color/48/000000/visa.png"
													width="64px" height="60px" />
												<form>
													<div class="form-group mb-0">
														<p class="text-info mb-0">Card Number</p>

														<input type="text" name="card-num"
															placeholder="1234 5678 9012 3457" size="17" id="cno"
															minlength="19" maxlength="19">

													</div>
													<div class="form-group">
														<p class="text-info mb-0">Cardholder's Name</p>
														<input type="text" name="name" placeholder="Name"
															size="17">
													</div>
													<div class="form-group pt-2">
														<div class="row">
															<div class="col">
																<p class="text-info mb-0">Expiration</p>
																<input type="text" name="exp" placeholder="MM/YYYY"
																	size="7" id="exp" minlength="7" maxlength="7">
															</div>
															<div class="col">
																<p class="text-info mb-0">Cvv</p>
																<input type="password" name="cvv"
																	placeholder="&#9679;&#9679;&#9679;" size="1"
																	minlength="3" maxlength="3">
															</div>

														</div>
														<div class=" pt-2">
															<button type="button" class="btn btn-primary mx-auto">
																Pay</button>
														</div>
														<div class="form-check">
															<input type="checkbox" class="form-check-input"
																id="exampleCheck1"> <label
																class="form-check-label" for="exampleCheck1">Remember
																my card information</label>
														</div>
													</div>
												</form>
											</div>

										</div>

									</div>
									<!-- onglet withdraw -->
									<div class="tab-pane fade" id="list-withdraw" role="tabpanel"
										aria-labelledby="list-withdraw-list">
										<p>Choose an account, amount and withdraw button or add a
											bank account :</p>
										<form class="form-inline">

											<div class="mr-2">
												<select class="form-control ">
													<option>account 1</option>
													<option>account 2</option>
													<option>account 3</option>
												</select>
											</div>
											<div class="mr-2 w-10">
												<label for="example-number-input"></label> <input
													class="form-control " type="number" value="0"
													id="example-number-input">
											</div>
											<div class="mr-2">
												<button type="submit" class="btn  btn-block btn-success">Withdraw</button>
											</div>
											<div class="mr-2">
												<!-- Button -->
												<button type="button" class="btn btn-primary"
													data-toggle="modal" data-target="#popup2">Add bank
													acount</button>
											</div>
										</form>

										<!-- Pop-up add bank details -->
										<div id="popup2" class="modal">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<p>Bank details</p>
													</div>
													<div class="modal-body">
														<form>
															<div class="form-group">
																<label for="codeBank"></label> <input type="number"
																	class="form-control" id="codeBank"
																	aria-describedby="codeBank" placeholder="Code bank">

															</div>

															<div class="form-group">
																<label for="bankCounter"></label> <input type="number"
																	class="form-control" id="bankCounter"
																	aria-describedby="bankCounter"
																	placeholder="bankCounter">

															</div>
															<div class="form-group">
																<label for="accountNumber"></label> <input type="text"
																	class="form-control" id="accountNumber"
																	placeholder="accountNumber">
															</div>
															<div class="form-group">
																<label for="ribKey"></label> <input type="number"
																	class="form-control" id="ribKey" placeholder="ribKey">
															</div>
															<div class="form-group">
																<label for="domiciliation"></label> <input type="text"
																	class="form-control" id="domiciliation"
																	placeholder="domiciliation">
															</div>
															<div class="form-group">
																<label for="iban"></label> <input type="text"
																	class="form-control" id="iban" placeholder="iban">
															</div>
															<div class="form-group">
																<label for="bic"></label> <input type="text"
																	class="form-control" id="bic" placeholder="bic">
															</div>

															<p></p>

															<button type="Add" class="btn btn-primary">Add
																details</button>

														</form>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Annuler</button>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>
</html>