<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<link href=signin.css rel="stylesheet">
<link href=home.css rel="stylesheet">


<title>Home</title>

<style>
body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>


	<nav class="navbar navbar-expand ">
		<div class="container-fluid">
			<button class="btndisabled btn btn-success center-block disabled">Pay
				my buddy</button>
			<div>
				<ul class="nav navbar-right">
					<li class="nav-item"><a class="nav-link active" href="home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="transfer">Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="profile">Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><form
							th:action="@{/logout}" method="post">
							<input class="nav-link btn btn-primary" type="submit"
								value="Log Out" />
						</form></li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="nav navbar-left bg-light">
		<ul class="nav navbar-right">
			<li class="nav-item"><a class="nav-link active" href="home">Home
					/</a></li>
		</ul>
	</nav>

	<div class="container px-4">

		<div class="row mt-3 mb-1 justify-content-between">
			<div class="ml-4">
				<span class="text-left"><h4>Your Account</h4></span>
			</div>
			<div class="mr-4">
				<button class="btn btn-primary">Unsuscribe</button>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class=" col-md-12 col-md-offset-3 text-center">
				<div class="card bg-light mb-3 text-center">

					<div class="card-body text-center">
						Welcome <span sec:authentication="principal.username"> User</span>
						<br> <br>

						<!-- Account Balance -->
						<h4>Balance :</h4>
						<div class="card mx-auto" style="width: 18rem;"
							th:text="${account.balance}"></div>
						<div>€</div>
						<!-- success message -->
						<div th:if="${param.successPayment}" class="mt-1">
							<div class="alert alert-info">You've successfully do
								transfer !</div>
						</div>

						<!-- error message -->
						<div th:if="${param.errorNotEnoughMoney}" class="mt-1">
							<div class="alert alert-danger">not enough money !</div>
						</div>
						<!-- error message -->
						<div th:if="${param.error}" class="mt-1">
							<div class="alert alert-danger">error during transfer !</div>
						</div>
						<!-- error message ammount = 0 -->
						<div th:if="${param.errorZero}" class="mt-1">
							<div class="alert alert-danger">ammount bank transfer = 0
								!!!</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container px-4">



		<div class="row mt-3 mb-1 justify-content-between">
			<div class="ml-4">
				<span class="text-left"><h4>Pay and Withdraw</h4></span>
			</div>

		</div>

		<div class="row justify-content-center">
			<div class=" col-md-12 col-md-offset-3 ">
				<div class="card bg-light">
					<div class="card-body text-center">

						<div class="row">
							<div class="col-3">
								<div class="list-group" id="list-tab" role="tablist">
									<p>Choose an option :</p>
									<a
										class="list-group-item list-group-item-action  list-group-item-primary active"
										id="list-home-list" data-toggle="list" href="#list-home"
										role="tab" aria-controls="home">Pay money with bank
										account</a> <a
										class="list-group-item list-group-item-action list-group-item-primary"
										id="list-withdraw-list" data-toggle="list"
										href="#list-withdraw" role="tab" aria-controls="withdraw">Withdraw</a>

								</div>
							</div>
							<div class="col-9 ">
								<div class="tab-content row justify-content-between"
									id="nav-tabContent">

									<!-- onglet bank transfer -->
									<div class="tab-pane fade show active " id="list-home"
										role="tabpanel" aria-labelledby="list-home-list">

										<p>Please complete amount and pay button or add a bank
											account :</p>
										<form class="form-inline" th:action="@{/home}" method="POST"
											th:object="${transaction}">
											<div class="mr-2">
												
												<div th:if="${bankAccount == null}">You don't have a
													bank account, please add a bank account</div>
											</div>
											<div class="mr-2 w-10" th:if="${bankAccount != null}">
												<label for="amount"></label> <input class="form-control "
													type="number" step = "any" value="0" id="amount" name="amount" required
													autofocus="autofocus">


												<!-- essai variable à envoyer -->
												<label for="description"></label> <input
													class="form-control d-none" type="text" value="payment"
													id="description" name="description">
												<!-- Fin de l'essai -->

											</div>
											<div class="mr-1">€</div>
											<div class="mr-2" th:if="${bankAccount != null}">
												<button type="submit" class="btn  btn-block btn-success">Pay</button>
											</div>
											<div class="mr-2">
												<!-- Button -->
												<button type="button" class="btn btn-primary"
													data-toggle="modal" data-target="#popup">Add bank
													acount</button>
											</div>
										</form>



										<!-- Pop-up add bank details -->
										<div id="popup" class="modal">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<p>Bank details</p>
													</div>
													<div class="modal-body">
														<form th:action="@{/home/addBankAccount}" method="POST"
															th:object="${bankAccountadd}">
															<div class="form-group">
																<label for="codeBank">Code Bank</label> <input
																	type="tel" maxlength="5" class="form-control"
																	placeholder="Code bank" th:field="*{codeBank}"
																	name="codeBank" required autofocus="autofocus">
																<small id="codebankHelpBlock"
																	class="form-text text-muted"> Your codeBank
																	must be 5 characters long, contain only numbers </small>
															</div>


															<div class="form-group">
																<label for="bankCounter">Bank Counter</label> <input
																	type="tel" maxlength="5" pattern=".{5,}"
																	class="form-control" id="bankCounter"
																	placeholder="bankCounter" th:field="*{bankCounterCode}"
																	name="bankCounterCode" required autofocus="autofocus">
																<small id="bankCounterHelpBlock"
																	class="form-text text-muted"> Your bank counter
																	must be 5 characters long, contain only numbers </small>
															</div>

															<div class="form-group">
																<label for="accountNumber">Account Number</label> <input
																	type="text" maxlength="11" pattern=".{11,}"
																	class="form-control" id="accountNumber"
																	placeholder="accountNumber" th:field="*{accountNumber}"
																	name="accountNumber" required autofocus="autofocus">
																<small id="accountNumberHelpBlock"
																	class="form-text text-muted"> Your account
																	number must be 11 characters long, contain letters and
																	numbers </small>
															</div>

															<div class="form-group">
																<label for="ribKey">Rib Key</label> <input type="tel"
																	maxlength="2" pattern=".{2,}" class="form-control"
																	id="ribKey" placeholder="ribKey" th:field="*{ribKey}"
																	name="ribKey" required autofocus="autofocus"> <small
																	id="ribKeyHelpBlock" class="form-text text-muted">
																	Your rib key must be 2 characters long, contain only
																	numbers </small>
															</div>


															<div class="form-group">
																<label for="domiciliation">Domiciliation</label> <input
																	type="text" maxlength="20" pattern=".{4,}"
																	class="form-control" id="domiciliation"
																	placeholder="domiciliation" th:field="*{domiciliation}"
																	name="domiciliation" required autofocus="autofocus">
															</div>
															<div class="form-group">
																<label for="iban">Iban</label> <input type="tel"
																	maxlength="34" pattern=".{14,}" class="form-control"
																	id="iban" placeholder="iban" th:field="*{iban}"
																	name="iban" required autofocus="autofocus"> <small
																	id="ibanHelpBlock" class="form-text text-muted">
																	Your iban must be 14-34 characters long, contain
																	letters and numbers </small>
															</div>
															<div class="form-group">
																<label for="bic">Bic</label> <input type="text"
																	maxlength="11" pattern=".{8,}" class="form-control"
																	id="bic" placeholder="bic" th:field="*{bic}" name="bic"
																	required autofocus="autofocus">
																	<small
																	id="bicHelpBlock" class="form-text text-muted">
																	Your bic must be 8 or 11 characters long, contain
																	letters and numbers </small>
															</div>
															<div class="form-group">
																<label for="holder">Holder</label> <input type="text"
																	maxlength="20" class="form-control" id="holder"
																	placeholder="holder" th:field="*{holder}" name="holder"
																	required autofocus="autofocus">
															</div>

															<p></p>

															<button type="submit" class="btn btn-primary">Add
																details</button>

														</form>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Annuler</button>
													</div>
												</div>
											</div>
										</div>

									</div>

									<!-- onglet withdraw -->
									<div class="tab-pane fade" id="list-withdraw" role="tabpanel"
										aria-labelledby="list-withdraw-list">
										<p>Please complete amount and withdraw button or add a
											bank account :</p>
										<form class="form-inline" th:action="@{/home}" method="POST"
											th:object="${transaction}">
											<div class="mr-2 w-10">
												<div th:if="${bankAccount == null}">You don't have a
													bank account, please add a bank account</div>
											</div>

											<div class="mr-2 w-10" th:if="${bankAccount != null}">
												<label for="amount"></label> <input class="form-control "
													type="number" step = "any" value="0" id="amount" name="amount">

												<!-- essai variable à envoyer -->
												<label for="description"></label> <input
													class="form-control d-none" type="text" value="withdraw"
													id="description" name="description">
												<!-- Fin de l'essai -->

											</div>
											<div class="mr-1">€</div>
											<div class="mr-2" th:if="${bankAccount != null}">
												<button type="submit" class="btn  btn-block btn-success">Withdraw</button>
											</div>
											<div class="mr-2">
												<!-- Button -->
												<button type="button" class="btn btn-primary"
													data-toggle="modal" data-target="#popup2">Add bank
													acount</button>
											</div>
										</form>

										<!-- Pop-up add bank details -->
										<div id="popup2" class="modal">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<p>Bank details</p>
													</div>
													<div class="modal-body">
														<form th:action="@{/home/addBankAccount}" method="POST"
															th:object="${bankAccountadd}">
															<div class="form-group">
																<label for="codeBank">Code Bank</label> <input
																	type="tel" maxlength="5" class="form-control"
																	placeholder="Code bank" th:field="*{codeBank}"
																	name="codeBank" required autofocus="autofocus">
																<small id="codebankHelpBlock"
																	class="form-text text-muted"> Your codeBank
																	must be 5 characters long, contain only numbers </small>
															</div>


															<div class="form-group">
																<label for="bankCounter">Bank Counter</label> <input
																	type="tel" maxlength="5" pattern=".{5,}"
																	class="form-control" id="bankCounter"
																	placeholder="bankCounter" th:field="*{bankCounterCode}"
																	name="bankCounterCode" required autofocus="autofocus">
																<small id="bankCounterHelpBlock"
																	class="form-text text-muted"> Your bank counter
																	must be 5 characters long, contain only numbers </small>
															</div>

															<div class="form-group">
																<label for="accountNumber">Account Number</label> <input
																	type="text" maxlength="11" pattern=".{11,}"
																	class="form-control" id="accountNumber"
																	placeholder="accountNumber" th:field="*{accountNumber}"
																	name="accountNumber" required autofocus="autofocus">
																<small id="accountNumberHelpBlock"
																	class="form-text text-muted"> Your account
																	number must be 11 characters long, contain letters and
																	numbers </small>
															</div>

															<div class="form-group">
																<label for="ribKey">Rib Key</label> <input type="tel"
																	maxlength="2" pattern=".{2,}" class="form-control"
																	id="ribKey" placeholder="ribKey" th:field="*{ribKey}"
																	name="ribKey" required autofocus="autofocus"> <small
																	id="ribKeyHelpBlock" class="form-text text-muted">
																	Your rib key must be 2 characters long, contain only
																	numbers </small>
															</div>


															<div class="form-group">
																<label for="domiciliation">Domiciliation</label> <input
																	type="text" maxlength="20" pattern=".{4,}"
																	class="form-control" id="domiciliation"
																	placeholder="domiciliation" th:field="*{domiciliation}"
																	name="domiciliation" required autofocus="autofocus">
															</div>
															<div class="form-group">
																<label for="iban">Iban</label> <input type="tel"
																	maxlength="34" pattern=".{14,}" class="form-control"
																	id="iban" placeholder="iban" th:field="*{iban}"
																	name="iban" required autofocus="autofocus"> <small
																	id="ibanHelpBlock" class="form-text text-muted">
																	Your iban must be 14-34 characters long, contain
																	letters and numbers </small>
															</div>
															<div class="form-group">
																<label for="bic">Bic</label> <input type="text"
																	maxlength="11" pattern=".{8,}" class="form-control"
																	id="bic" placeholder="bic" th:field="*{bic}" name="bic"
																	required autofocus="autofocus">
																	<small
																	id="bicHelpBlock" class="form-text text-muted">
																	Your bic must be 8 or 11 characters long, contain
																	letters and numbers </small>
															</div>
															<div class="form-group">
																<label for="holder">Holder</label> <input type="text"
																	maxlength="20" class="form-control" id="holder"
																	placeholder="holder" th:field="*{holder}" name="holder"
																	required autofocus="autofocus">
															</div>
															<p></p>

															<button type="submit" class="btn btn-primary">Add
																details</button>

														</form>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Annuler</button>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>
</html>