<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<link href=signin.css rel="stylesheet">
<link href=home.css rel="stylesheet">


<title>Unsuscribe</title>

<style>
body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>


	<nav class="navbar navbar-expand ">
		<div class="container-fluid">
			<button class="btndisabled btn btn-success center-block disabled">Pay
				my buddy</button>
			<div>
				<ul class="nav navbar-right">
					<li class="nav-item"><a class="nav-link active" href="home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="transfer">Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="profile">Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><form
							th:action="@{/logout}" method="post">
							<input class="nav-link btn btn-primary" type="submit"
								value="Log Out" />
						</form></li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="nav navbar-left bg-light">
		<ul class="nav navbar-right">
			<li class="nav-item"><a class="nav-link" href="home">Home /</a></li>
			<li class="nav-item"><a class="nav-link active"
				href="unsuscribe">Unsuscribe </a></li>
		</ul>
	</nav>

	<div class="container px-4">

		<div class="row mt-3 mb-1 justify-content-between">
			<div class="ml-4">
				<span class="text-left"><h4>Unsuscribe</h4></span>
			</div>

		</div>

		<div class="row justify-content-center">
			<div class=" col-md-12 col-md-offset-3 text-center">
				<div class="card bg-light mb-3 text-center">

					<div class="card-body text-center">

						<br> <br>

						<div>

							<div>
								<!-- Form unsuscribe -->
								<form th:action="@{/unsuscribe}" method="post"
									th:object="${user}">

									<div class="form-group">
										<!-- Email user confirm -->
										<label for="email">Confirm your email</label> <input
											type="email" class="form-control" placeholder="email"
											name="email" required autofocus="autofocus">
									</div>
									<p></p>
									<button type="submit" class="btn btn-primary">Unsucribe</button>

								</form>
							</div>
						</div>

						<!-- error message -->
						<div th:if="${param.error}" class="mt-1">
							<div class="alert alert-danger">Invalid username !</div>
						</div>
						<!-- error message monney -->
						<div th:if="${param.errorMonney}" class="mt-1">
							<div class="alert alert-danger">You still have money in
								your account. Please make a withdrawal before unsubscribing !</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>
</html>